name: test
on:
  push:
jobs:
  test-coverage:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out this repository
        uses: actions/checkout@v4.1.0

      - name: Build and test this project
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=PROFILE $SRC_DIR
          make VERBOSE=1
          ./tree_test

      - name: Analyze the result of GoogleTest with gcov
        run: |
          gcov build/CMakeFiles/tree_test.dir/src/avlTree.cc.gcno
          gcov build/CMakeFiles/tree_test.dir/src/bstTree.cc.gcno
          gcov build/CMakeFiles/tree_test.dir/src/gui.cc.gcno
          gcov build/CMakeFiles/tree_test.dir/src/main.cc.gcno

      - name: Install lcov and generate html file with lcov
        run: |
          sudo apt-get install lcov
          lcov --directory build/CMakeFiles/tree_test.dir/src --capture --output-file app.info
          lcov --remove app.info '*/usr/include/*' '*googletest*' 'Mock*' 'UT*' '*aivc-macchina/platform/*' --output-file final.info --ignore-errors empty
          genhtml -o cov_html final.info

      - name: zip files
        run: |
          ls
          tar czvf cov_html.tar.gz cov_html

      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: cov_html.tar.gz
      # - name: Generate a code coverage report
      #   uses: threeal/gcovr-action@v1.0.0
      #   with:
      #     excludes: |
      #       build/*
      # - uses: codecov/codecov-action@v3
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     gcov: true
